<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperação de Senha</title>
  </head>
  <body style="font-family: Arial, sans-serif; text-align: center; padding: 20px">
    <h2>Recuperação de Senha</h2>
    <p>Para redefinir sua senha, clique no botão abaixo:</p>
    <a
      href="localhost:5173/recuperar_senha?token={{token}}"
      style="
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        color: white;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 5px;
      "
    >
      Redefinir Senha
    </a>
  </body>
</html>
